.app {
  padding: 32px 99px;
  display: flex;
  flex-direction: column;
  height: 100hv;
  font-family: Poppins;
}

.app__footer {
  display: flex;
  justify-content: center;
  color: #b9bdcf;
  width: 100%;
  font-size: 14px;
  font-weight: 600;
  font-family: 'Montserrat';
  text-align: center;
  margin-top: auto;
}

@media (max-width: 1024px) {
  .app {
    padding: 32px 50px;
  }
}

@media (max-width: 768px) {
  .app {
    padding: 12px 20px;
  }
}

@media (max-width: 648px) {
  .app {
    padding: 10px 10px;
  }
}
