.modal {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 999; /* Sit on top */
  justify-content: center;
  padding-top: 200px;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background: rgba(0, 0, 0, 0.25);
}

.modal__container {
  display: flex;
  background: #ffffff;
  border-radius: 12px;
  padding: 24px 32px;
}
