.userInfo {
  display: flex;
  align-items: center;
  color: #333333;
}

.userInfo__detail {
  display: flex;
  flex-direction: column;
  font-family: Poppins;
  font-style: normal;
}

.userInfo__detail > h1 {
  font-weight: 800;
  font-size: 14px;
  line-height: 19px;
}

.userInfo__detail > p {
  font-weight: 500;
  font-size: 9px;
  line-height: 12px;
}
